*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #434C5E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    
}

.card {
    margin: 50px;
    padding: 20px;
    background-color: #2E3440;
    border-radius: 3%;
}

h1 {
    margin: 20px auto;

}

ul{
    color: white;
    text-align: center;
    list-style-type: none;
    margin: 8px;
}

a {
    text-decoration: none;
    line-height: 28px;
    color: white;
}

a:visited {
    color: #D8DEE9;
}



a:hover {
    color: #5E81AC;
}a

ol {
    width:700px;
    margin: 0 auto;
}

li {
    padding: 6px;
    list-style-position: inside;
}

h3,
h2 {
    margin: 16px;
    padding: 4px;
    
}

img {
    border-radius: 10%;
}

footer {
    margin: 20px;
    padding: 8px;
    text-align: center;
}